---
import Layout from "../layouts/Layout.astro";
import { Navbar } from "../components/Navbar.jsx";
import { Selection } from "../components/Selection.jsx";
import { Footer } from "../components/Footer.jsx";
import { ScrollUpButton } from "../components/ScrollUpButton";
import "../styles/Theme.css";
import "../styles/Diagonals.css";

---

<Layout title="Сантех - умник">
  <Navbar client:load />
  <Selection client:load />
  <Footer />
  <ScrollUpButton client:load />
</Layout>
